<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      Please click the following link to reset your password:<br>
      <a href=<%= @url %>>Change your password</a>.<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>